<div class="card m-6">
  <a href="<%= articles_path %>" class="button is-primary">Go Back</a>
  <div class="card-content">
    <div class="content">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Comments</p>
                <%= render @article.comments %>
              </article>
              <article class="tile is-child notification is-success">
                <p class="title">Add a comment</p>
                <%= render 'comments/form' %>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-dark">
                <p class="title"><%= @article.title %></p>
                <p class="subtitle"><%= @article.body %></p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <!-- One way to make a link -->
    <a href="<%= edit_article_path(@article) %>" class="button is-success">Edit</a>
    <!-- A more erb way to make a link -->
    <%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
  </footer>
</div>